body {
  background-color:#337ab7;
  color:#337ab7;
}

.quoteBox {
  margin-top:100px;
  margin-bottom:100px;
  width:300%;
  height:150%;
  padding:20px;
  border-radius:3px;
  background-color:#E4FDE1;
}

.quoteLine {
  padding-left:10px;
  font-size:1.5em;
}

.authorParagraph {
  font-size:1.3em;
  text-align:center;
}

.socialIcons {
  padding-top:20px;
}

.rightSpan {
  float:right;
}
